[Unit]
Description=Nabaztag main daemon
After=postgresql.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/pynab
EnvironmentFile=/opt/pynab/nabd/nabd.conf
ExecStartPre=sh -c 'until /usr/bin/pg_isready; do sleep 1; done'
ExecStart=/opt/pynab/venv/bin/python -m nabd.nabd
PIDFile=/run/nabd.pid

[Install]
WantedBy=multi-user.target
