[Unit]
Description=Nabaztag boot script, initializing leds and motors

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/pi/pynab
ExecStart=/home/pi/pynab/venv/bin/python -m nabboot.nabboot start

[Install]
WantedBy=multi-user.target
