[Unit]
Description=Nabaztag boot script, initializing leds and motors

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/pynab
ExecStart=/opt/pynab/venv/bin/python -m nabboot.nabboot start

[Install]
WantedBy=multi-user.target
