# Direct dependencies
wheel
Django==3.2.25; python_version == '3.7'
Django==4.2.17; python_version == '3.9'
django-stubs==1.11.0
django-stubs-ext==0.4.0
mypy==0.950
gunicorn==22.0.0
lockfile==0.12.2
Mastodon.py==1.5.1
meteofrance-api==1.0.2
mpg123==0.4
psycopg2-binary==2.9.3
pytest==7.0.1
#pytest-django==4.5.2
pytest-django==3.8.0
pytest-pep8==1.0.6
asynctest==0.13.0
coverage==6.3.2
black==22.3.0
flake8==4.0.1
isort==5.10.1
pre_commit==2.17.0
pyalsaaudio==0.9.0; sys_platform == 'linux'
rpi-ws281x==4.3.3; sys_platform == 'linux' and ('armv6l' in platform_machine or 'armv7l' in platform_machine or 'aarch64' in platform_machine)
RPi.GPIO==0.7.1; sys_platform == 'linux' and ('armv6l' in platform_machine or 'armv7l' in platform_machine or 'aarch64' in platform_machine)
smbus2==0.4.1

https://github.com/pguyot/snips-nlu/releases/download/0.20.2.1/snips_nlu-0.20.2.1-py3-none-any.whl

# Pre-built binaries
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.3/py_kaldi_asr-0.5.3-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.3/py_kaldi_asr-0.5.3-cp39-cp39-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.9'
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.3/py_kaldi_asr-0.5.3-cp37-cp37m-linux_armv7l.whl; sys_platform == 'linux' and 'armv7l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.3/py_kaldi_asr-0.5.3-cp39-cp39-linux_armv7l.whl; sys_platform == 'linux' and 'armv7l' in platform_machine and python_version == '3.9'
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.3/py_kaldi_asr-0.5.3-cp39-cp39-linux_aarch64.whl; sys_platform == 'linux' and 'aarch64' in platform_machine and python_version == '3.9'
git+https://github.com/pguyot/py-kaldi-asr@v0.5.3; sys_platform != 'linux' or ('armv6l' not in platform_machine and 'armv7l' not in platform_machine and 'aarch64' not in platform_machine) or (python_version != '3.7' and python_version != '3.9')

https://github.com/pguyot/snips-nlu-parsers/releases/download/v0.4.3/snips_nlu_parsers-0.4.3-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/snips-nlu-parsers/releases/download/v0.4.3/snips_nlu_parsers-0.4.3-cp39-cp39-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.9'
https://github.com/pguyot/snips-nlu-parsers/releases/download/v0.4.3/snips_nlu_parsers-0.4.3-cp37-cp37m-linux_armv7l.whl; sys_platform == 'linux' and 'armv7l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/snips-nlu-parsers/releases/download/v0.4.3/snips_nlu_parsers-0.4.3-cp39-cp39-linux_armv7l.whl; sys_platform == 'linux' and 'armv7l' in platform_machine and python_version == '3.9'
https://github.com/pguyot/snips-nlu-parsers/releases/download/v0.4.3/snips_nlu_parsers-0.4.3-cp39-cp39-linux_aarch64.whl; sys_platform == 'linux' and 'aarch64' in platform_machine and python_version == '3.9'
git+https://github.com/pguyot/snips-nlu-parsers@0.4.3-2024#subdirectory=python; sys_platform != 'linux' or ('armv6l' not in platform_machine and 'armv7l' not in platform_machine and 'aarch64' not in platform_machine) or (python_version != '3.7' and python_version != '3.9')

https://github.com/pguyot/snips-nlu-utils/releases/download/v0.9.1/snips_nlu_utils-0.9.1-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/snips-nlu-utils/releases/download/v0.9.1/snips_nlu_utils-0.9.1-cp39-cp39-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.9'
https://github.com/pguyot/snips-nlu-utils/releases/download/v0.9.1/snips_nlu_utils-0.9.1-cp37-cp37m-linux_armv7l.whl; sys_platform == 'linux' and 'armv7l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/snips-nlu-utils/releases/download/v0.9.1/snips_nlu_utils-0.9.1-cp39-cp39-linux_armv7l.whl; sys_platform == 'linux' and 'armv7l' in platform_machine and python_version == '3.9'
https://github.com/pguyot/snips-nlu-utils/releases/download/v0.9.1/snips_nlu_utils-0.9.1-cp39-cp39-linux_aarch64.whl; sys_platform == 'linux' and 'aarch64' in platform_machine and python_version == '3.9'
snips-nlu-utils==0.9.1; sys_platform != 'linux' or ('armv6l' not in platform_machine and 'armv7l' not in platform_machine and 'aarch64' not in platform_machine) or (python_version != '3.7' and python_version != '3.9')

https://github.com/pguyot/pynfcdev/releases/download/v0.7.4/pynfcdev-0.7.4-py3-none-any.whl
ndef==0.2

# Indirect frozen dependencies
mypy_extensions==0.4.3
# Latest typing_extensions compatible with latest meteofrance-api
typing_extensions==3.10.0.2
pathspec==0.9.0
toml==0.10.2
appdirs==1.4.4
regex==2022.3.2
typed_ast==1.5.2
click==8.1.2
pytz==2021.3
asgiref==3.6.0
sqlparse==0.4.4; python_version == '3.7'
sqlparse==0.5.0; python_version != '3.7'
# Latest importlib_metadata compatible with latest flake8
importlib_metadata==4.2.0
mccabe==0.6.1
pycodestyle==2.8.0
pyflakes==2.4.0
six==1.16.0
python_magic==0.4.25
decorator==5.1.1
blurhash==1.1.4
python_dateutil==2.8.2
types-python-dateutil==2.8.17
pep8==1.7.1
pytest_cache==1.0
attrs==21.4.0
wcwidth==0.2.5
more_itertools==8.12.0
pluggy==0.13.1
packaging==21.3
py==1.11.0
virtualenv==20.13.3
nodeenv==1.6.0
PyYAML==6.0
identify==2.4.11
cfgv==3.3.1
Cython==0.29.30
numpy==1.21.4
# Latest scipy compatible with snips-nlu
scipy==1.6.2
num2words==0.5.10
# Latest scikit-learn compatible with latest snips-nlu
scikit_learn==0.24.2
deprecation==2.1.0
pyaml==19.12.0
future==0.17.1
sklearn_crfsuite==0.3.6
zipp==3.7.0
certifi==2023.7.22
urllib3==1.26.18
types_urllib3==1.26.15
charset_normalizer==2.0.12
idna==3.7
execnet==1.9.0
pyparsing==3.0.7
platformdirs==2.5.1
distlib==0.3.4
filelock==3.6.0
docopt==0.6.2
joblib==1.2.0
python_crfsuite==0.9.7
tabulate==0.8.9
tqdm==4.66.3
requests==2.31.0
types_requests==2.27.30
iniconfig==1.1.1
tomli==2.0.1
