wheel
pytest
django
psycopg2-binary
pytest-django
lockfile
Mastodon.py
Mpg123
gunicorn
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.2/Cython-0.29.7-cp35-cp35m-linux_armv6l.whl; sys_platform == 'linux' and 'arm6l' in platform_machine
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.2/numpy-1.16.3-cp35-cp35m-linux_armv6l.whl; sys_platform == 'linux' and 'arm6l' in platform_machine
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.2/py_kaldi_asr-0.5.2-cp35-cp35m-linux_armv6l.whl; sys_platform == 'linux' and 'arm6l' in platform_machine
https://github.com/pguyot/meteofrance-py/releases/download/v0.3.6%2B/meteofrance-0.3.6-py3-none-any.whl
Cython; sys_platform != 'linux' or 'arm6l' not in platform_machine
git+https://github.com/pguyot/py-kaldi-asr; sys_platform != 'linux' or 'arm6l' not in platform_machine
RPi.GPIO; sys_platform == 'linux' and 'arm6l' in platform_machine
rpi_ws281x; sys_platform == 'linux' and 'arm6l' in platform_machine
pyalsaaudio; sys_platform == 'linux'
