wheel
pytest
django
psycopg2-binary
pytest-django
lockfile
Mastodon.py
Mpg123
gunicorn
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.2/Cython-0.29.10-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.2/numpy-1.16.4-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/py-kaldi-asr/releases/download/v0.5.2/py_kaldi_asr-0.5.2-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/meteofrance-py/releases/download/v0.3.7%2B/meteofrance-0.3.7-py3-none-any.whl
https://github.com/pguyot/snips-nlu-parsers/releases/download/v0.3.0_SNAPSHOT/snips_nlu_parsers-0.3.0_SNAPSHOT_-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/snips-nlu-utils/releases/download/v0.10.0_SNAPSHOT/snips_nlu_utils-0.10.0_SNAPSHOT-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
https://github.com/pguyot/snips-nlu/releases/download/0.19.7/snips_nlu-0.19.7-py3-none-any.whl; sys_platform == 'linux' and 'armv6l' in platform_machine
https://github.com/pguyot/snips-nlu/releases/download/0.19.7/scikit_learn-0.21.2-cp37-cp37m-linux_armv6l.whl; sys_platform == 'linux' and 'armv6l' in platform_machine and python_version == '3.7'
snips_nlu; sys_platform != 'linux' or 'armv6l' not in platform_machine
Cython; sys_platform != 'linux' or 'armv6l' not in platform_machine
git+https://github.com/pguyot/py-kaldi-asr; sys_platform != 'linux' or 'armv6l' not in platform_machine
RPi.GPIO; sys_platform == 'linux' and 'armv6l' in platform_machine
rpi_ws281x; sys_platform == 'linux' and 'armv6l' in platform_machine
pyalsaaudio; sys_platform == 'linux'
