[Unit]
Description=Nabaztag mastodon daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
ExecStart=/home/pi/pynab/venv/bin/python -m nabmastodond.nabmastodond
PIDFile=/run/nabmastodond.pid

[Install]
WantedBy=multi-user.target
