{% extends 'nabweb/_base.html' %}
{% load i18n %}
{% block subtitle %}{% trans "Home" %}{% endblock %}
{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{% trans "Nabaztag configuration" %}</h1>
      <p class="lead">{% trans "You're currently deeply connected with your inner rabbit." %}</p>
      <hr class="my-4">
      <p>{% trans "First, make sure the language is properly configured below. Maybe create an account to connect your Nabaztag to <a href='https://mstdn.fr/auth/sign_up'>Mastodon</a> where it will join fellow rabbits <small>(for now, this is only used by ear communion service)</small>." %}</p>
      <p>{% trans "Eventually, explore top navigation bar to configure <a href='/services/'>Nabaztag services</a>, <a href='/upgrade/'>upgrade software</a> or even visit the <a target='_blank' href='https://github.com/nabaztag2018/pynab' rel='noopener noreferrer'>GitHub repository</a> to start hacking, adding features or simply report bugs." %}</p>

      <p>{% trans "You can trigger some services with your voice. The processing is done locally and you need to push the button long enough to hear a 'bip' (keep the button pushed), then wait a couple of seconds (We'll have a look at this later!) then speak and when you're done just release the button. Your service should be played shortly!" %}</p>
      <p>{% trans "And don't forget to try <a href='/' onclick='javascript:event.target.port=8080' target='_blank' rel='noopener noreferrer'>Nabblocky</a> and learn how to code with Nabaztag. It's fantastic." %}</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10 col-md-10 mb-3">
      <div class="card" id="language-settings">
        <form method="post" action="/">
          {% csrf_token %}
          <div class="card-header">
            <h5 class="card-title">{% trans "Language" %}</h5>
          </div>
          <div class="card-body">
            <p>{% trans "The language is used by services with recorded sounds. U.S. English and British English are based on distinct voices." %}</p>
            <div class="form-group row">
              <label for="localeSel" class="col-6 col-form-label">{% trans "Language" %}</label>
              <div class="col-6">
                <select name="locale" id="localeSel">
                  {% for locale, name, selected in locales %}
                  <option value="{{ locale }}" {% if selected %}selected{% endif %}>{{ name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row mb-2">
              <div class="col-12">
                <button type="submit" class="btn btn-primary disabled ml-2 float-right save-button">{% trans "Save" %}</button>
                <button type="reset" class="btn btn-outline-primary disabled ml-2 float-right reset-button">{% trans "Reset" %}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% for service in services %}
    <div class="row justify-content-center">
      <div class="settings col-xl-8 col-lg-10 col-md-10 mb-3" data-url="/{{ service }}/settings"></div>
    </div>
  {% endfor %}
  <script type="text/javascript">
  $(function() {
    var form = $('#language-settings form');
    var saveBtn = form.find('button.save-button');
    var resetBtn = form.find('button.reset-button');
    form.find('select').on('change', function() {
      saveBtn.removeClass('disabled');
      resetBtn.removeClass('disabled');
    });
    $("div.settings").each(function(index, element) {
      var url = $(element).data('url');
      $.get(url, function(data) {
        $(element).html(data);
      });
    });
  });
  </script>
{% endblock %}
