{% extends 'nabweb/_help.html' %}
{% load static %}
{% load i18n %}

{% block subtitle %}{% trans "Sending an email with an NFC tag" %}{% endblock %}
{% block content %}
     <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10 col-md-10 mb-3">
        <div class="card" id="nabairqualityd-animations">
          <div class="card-header">
            <h5 class="card-title">{% trans "How to create and configure a Gmail account" %}</h5>
          </div>

          <div class="card-body">
            ....
          </div>

        </div>
     </div>
    </div>
{% endblock %}
