{% load i18n %}
<div class="form-group row">
  <label for="surpriseLanguage" class="col-sm-2 col-form-label">{% trans "Language" %}</label>
  <div class="col-sm-6">
    <select class="form-control form-control-sm" id="surpriseLanguage" name="lang">
      <option value="default"{% if lang == "default" %} selected{% endif %}>{% trans "Nabaztag's current language" %}</option>
      <option value="fr_FR"{% if lang == "fr_FR" %} selected{% endif %}>{% trans "French" %}</option>
      <option value="de_DE"{% if lang == "de_DE" %} selected{% endif %}>{% trans "German" %}</option>
      <option value="en_US"{% if lang == "en_US" %} selected{% endif %}>{% trans "U.S. English" %}</option>
      <option value="en_GB"{% if lang == "en_GB" %} selected{% endif %}>{% trans "British English" %}</option>
      <option value="it_IT"{% if lang == "it_IT" %} selected{% endif %}>{% trans "Italian" %}</option>
      <option value="ja_JP"{% if lang == "ja_JP" %} selected{% endif %}>{% trans "Japanese" %}</option>
      <option value="pt_BR"{% if lang == "pt_BR" %} selected{% endif %}>{% trans "Brazilian Portuguese" %}</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <label for="surpriseType" class="col-sm-2 col-form-label">{% trans "Theme" %}</label>
  <div class="col-sm-6">
    <select class="form-control form-control-sm" id="surpriseType" name="type">
      <option value="surprise"{% if type == "surprise" %} selected{% endif %}>{% trans "Surprise" %}</option>
      <option value="carrot"{% if type == "carrot" %} selected{% endif %}>{% trans "Carrot" %}</option>
      <option value="birthday"{% if type == "birthday" %} selected{% endif %}>{% trans "Birthday" %}</option>
      <option value="autopromo"{% if type == "autopromo" %} selected{% endif %}>{% trans "What can you do?" %}</option>
      <option value="02-14"{% if type == "02-14" %} selected{% endif %}>{% trans "Valentine's" %}</option>
    </select>
  </div>
</div>
