[Unit]
Description=Nabaztag web server "boot" script: make sure nginx starts correctly
Before=nginx.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/pynab
ExecStart=mkdir -p /var/log/nginx

[Install]
WantedBy=multi-user.target
