[Unit]
Description=Nabaztag web server
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
ExecStart=/home/pi/pynab/venv/bin/gunicorn --timeout 60 nabweb.wsgi

[Install]
WantedBy=multi-user.target
