[Unit]
Description=Nabaztag magic 8 ball daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
ExecStart=/home/pi/pynab/venv/bin/python -m nab8balld.nab8balld
PIDFile=/run/nab8balld.pid

[Install]
WantedBy=multi-user.target
