[Unit]
Description=Nabaztag weather daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
ExecStart=/home/pi/pynab/venv/bin/python -m nabweatherd.nabweatherd
PIDFile=/run/nabweatherd.pid

[Install]
WantedBy=multi-user.target
