[Unit]
Description=Nabaztag Email Service
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
EnvironmentFile=/home/pi/pynab/nabemaild/nabemaild.conf
ExecStart=/home/pi/pynab/venv/bin/python -m nabemaild.nabemaild
PIDFile=/run/nabemaild.pid

[Install]
WantedBy=multi-user.target
