[Unit]
Description=Nabaztag taichi daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
ExecStart=/home/pi/pynab/venv/bin/python -m nabtaichid.nabtaichid
PIDFile=/run/nabtaichid.pid

[Install]
WantedBy=multi-user.target
